=form_for(@user) do |f|
    =f.label :name
    %p=f.text_field :name
    =f.label :email
    %p=f.text_field :email, :readonly => true, :disabled => true

    =f.submit :Submit, class: 'btn btn-primary'