= form_for(@event) do |f|
    .form-group
        = f.label :title
        %p=f.text_field :title
        =f.label :description
        %p=f.text_area :description
        =f.label :location
        %p=f.text_field :location
        =f.label :time
        %p=f.datetime_select :time, :ampm => true
        =f.submit :Submit, class: 'btn btn-primary'

