%h1 All Events 

- @events.each do |event|
    .card
        .card-body  
            %h2= event.title 
            %p= event.location 
            %p= event.time.strftime("%B %d, %Y at %I:%M %p")
            =link_to "See more details", event_path(event) , class: "btn btn-primary"
